
.App{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.calculator{
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  
}

button{
  border-radius: 2.5px;
  box-shadow: none;
  border: none;
  font-size: 1.5rem;
}
button#clear{
  grid-column: 1/4;
  background-color: #ff7652;
}

button#equals{
  grid-row: 6/5;
  grid-column: -1 / -3;
  background-color: #ff7652;
}

button#zero{
  grid-row: 5/6;
}

button#multiply{
  grid-column: 4/5;
  
}

button#seven, button#eight, button#nine{
  grid-row:2/3;
}

button#four, button#five, button#six{
  grid-row:3/4
}

button#one, button#two, button#three{
  grid-row:4/5
}

.Display{
  font-size: 2.5rem;
  padding: 1.5rem;
  
}